.dashboard {
  background-color: #F9F8F9;
  flex-direction: column;
  padding-left: 20px;
  height: 120vh;
}


.part2 {
  height: 30%;
  padding-left: 20px;
  box-sizing: border-box;
}

.part3 {
  height: 50%;
  padding: 20px;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
}

.part4 {
  height: 50%;
  padding: 20px;
  box-sizing: border-box;
  gap: 50px;
  margin-top: 10px;
}


.hellodoc {
  background: radial-gradient(#99999980, #82C45C), url('../images/dashboardpic.png');
  background-size: cover;
  background-position: center;
  width: 70%;
  height: 110%;
  border-radius: 23px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.25);
  font-family: Poppins;
  text-align: left;
  font-weight: 500;
  flex-direction: column;
  padding-left: 80px;
  padding-top: 55px;
  margin-bottom: 20px;
}

.whitetxt {
  color: #FFFFFF;
  font-size: 25px;
}

.blacktxt {
  color: #000000;
  font-size: 25px;
}

.hellodocdescription {
  margin-top: 10px;
  color:#000000;
  font-size: 15px;
}

.dashboardbtns {
  flex-direction: column;
  width: 25%;
  margin-left: 30px;
  font-family: Poppins;
  font-weight: 500;
  font-size: 15px;
  gap: 20px;
}

.dashboardbtn1 {
  width: 60%;
  height: 60px;
  background-color: #28B6F6;
  color: #FFFFFF;
  border: none;
  border-radius: 20px;
  /* padding-left: 10%; */
  display: flex;
  /* text-align: center; */
  justify-content: center;
  align-items: center;
  gap: 5px;
}

.dashboardbtn2 {
  width: 60%;
  height: 60px;
  background-color: #82C45C;
  color: #FFFFFF;
  border: none;
  border-radius: 20px;
  /* padding-left: 5%; */
  text-align: center;
  /* text-indent: 10%; */
}

.part3container {
  background-color: #FFFFFF;
  height: 100%;
  width: 90%;
  box-shadow: hsla(0, 0%, 0%, 0.251) 0px 4px 4px 0px;
  border-radius: 20px;
  padding: 20px;
  flex-direction: column;
  margin-top: 20px;
}

.part3title {
  font-family: Inter;
  height: 10%;
  width: 100%;
  justify-content: space-between;
  padding: 20px;
}

.charttitle {
  font-size: 20px;
  font-weight: bold;
  margin-left: 20px;
  margin-top: 10px;
}

.chartlegends {
  display: flex;
  font-weight: 400;
  font-size: 15px;
  flex-direction: column;
}

.part3hr {
  border: solid 1px #E5E5EF;
  padding: 0px;
  margin-top: 25px;
  width: 96%;
  align-self: center;
}

.part3chart {
  height: 100%;
  width: 100%;
  padding: 20px;
 }

.part4chart1 {
  height: 70%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.part4chart2 {
  height: 100%;
  width: 100%;
  padding: 20px;
  margin-top: 10px;
}

 .part4container1 {
    background-color: #FFFFFF;
    height: 100%;
    width: 30%;
    box-shadow: hsla(0, 0%, 0%, 0.251) 0px 4px 4px 0px;
    border-radius: 20px;
    padding: 40px;
    font-family: "Poppins";
    display: flex;
    flex-direction: column;
    justify-content: space-between;
 }

 .part4titles {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
 }

 .part4title1 {
    font-weight: 600;
    font-size: 16px;
 }

 .part4title2 {
  font-weight: 600;
  font-size: 13px;
  color: #0B63F8;
  align-items: center;
  display: flex;
}

.part4chart1label {
  display: flex;
  flex-direction: column;
}

.part4container2 {
  background-color: #FFFFFF;
  height: 100%;
  width: 56%;
  box-shadow: hsla(0, 0%, 0%, 0.251) 0px 4px 4px 0px;
  border-radius: 20px;
  padding: 40px;
  font-family: "Poppins";
  display: flex;
  flex-direction: column;
}

.part4container2chartlabels {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}

.empty {
  text-align: center;
  font-family: "Poppins";
  font-weight: 400;
  font-size: 15px;
  text-emphasis: italic;
  padding: 15px;
}