.patientscontainer {
    background-color: #F9F8F9;
    font-family: "Poppins";
    padding: 25px;
    padding-left: 40px;
    display: block;
    height: 100vh;
}

.patientstitle {
    font-weight: 500;
    font-size: 24px;
    display: flex;
    
}

.searchingpatients {
    flex-direction: column;
    justify-content: space-between;
    width: 85%;
    gap: 10px;
}

.patientsearchinginputs {
    flex-direction: row;
}

.patientsearchbar {
    width: 90%;
    height: 40px;
    border: 1px solid #13131340;
    padding-left: 30px;
    font-weight: 300;
    font-family: "Poppins";
    font-size: 15px;
}

.patientstable {
    padding: 20px;
    background-color: #ffffff;
    font-family: "Poppins";
    width: 100%;
    margin-top: 20px;
}

.patientstable td, th {
    border-bottom: 1px solid #F2F2F2;
    padding: 10px;
}

.patientstable thead {
    text-align: left;
}

.patientidcolumn {
    color: #0B63F8;
}

.patientstable td:last-child {
  color: #1170B3;
  font-weight: 500;
}

.patientstable tbody {
    font-weight: 400;
}

.editbtn {
    color: #1170B3;
    border: none;
    font-weight: 500;
    text-decoration: underline;
    background-color: #ffffff;
    cursor: pointer;
    font-size: 15px;
    text-align: center;
}

.patientsearchdd {
    width: auto;
    display: flex;
    align-items: flex-end;
    font-family: "Poppins";
    font-size: 14px;
    font-weight: 300;
    text-align: center;
    align-content: center;
    margin: auto;
    padding: 8px;
    border: 1px solid #13131340;
}