.patientscontainer {
    background-color: #F9F8F9;
    font-family: "Poppins";
    padding: 25px;
    display: grid;
}

.patientstitle {
    font-weight: 500;
    font-size: 24px;
    display: flex;
}

/* .searchingpatients {
    width: 100%;
} */